In [1]:
import pandas as pd
import json

In [13]:

with open('transform/01_05_22berlin.json', 'r') as f:
  data = json.load(f)

In [14]:
data

{'iso': {'0': '2022-03-05T13:00:00+01:00'},
 'city_name': {'0': 'Mitte, Brückenstraße, Berlin, Germany'},
 'aqi': {'0': 59},
 'idx': {'0': 10039},
 'h': {'0': 69},
 'no2': {'0': 3.7},
 'p': {'0': 1024.2},
 'pm25': {'0': 59},
 't': {'0': 6.1},
 'w': {'0': 7},
 'wg': {'0': None},
 's': {'0': '2022-03-05 13:00:00'},
 'tz': {'0': '+01:00'},
 'v': {'0': 1646485200}}

In [15]:
type(data)

dict

In [20]:
data1=pd.DataFrame.from_dict(data)

In [26]:
with open('transform/18_09_47berlin.json', 'r') as f:
  data2 = json.load(f)

data2=pd.DataFrame.from_dict(data)

In [27]:
data2

,iso,city_name,aqi,idx,h,no2,p,pm25,t,w,wg,s,tz,v
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200

In [28]:
combine_data_frame=pd.concat([data1,data2])
#pd.concat([df1,df2])

In [29]:
combine_data_frame

,iso,city_name,aqi,idx,h,no2,p,pm25,t,w,wg,s,tz,v
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200

In [38]:
combine_data_frame.to_json('berlin.json',orient="records")

In [40]:
import os

In [43]:
list_of_json_files=os.listdir('transform/')
#with slash and without slash both are same in python. Maybe in R as well

In [44]:
print(list_of_json_files)

['01_05_22berlin.json', '01_06_24berlin.json', '17_15_06berlin.json', '17_15_11berlin.json', '17_17_59berlin.json', '17_18_09berlin.json', '18_09_47berlin.json']

01_05_22berlin.json
01_06_24berlin.json
17_15_06berlin.json
17_15_11berlin.json
17_17_59berlin.json
17_18_09berlin.json
18_09_47berlin.json

In [71]:
df = pd.DataFrame()

In [75]:
df = pd.DataFrame() 
for i in list_of_json_files:
    #print(i)
    with open('transform/'+i, 'r') as f:
      data = json.load(f)
    data1=pd.DataFrame.from_dict(data)
    df=df.append(data1)


df.to_json('berlin.json',orient="records")

In [76]:
df

,iso,city_name,aqi,idx,h,no2,p,pm25,t,w,wg,s,tz,v
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,None,2022-03-05 13:00:00,+01:00,1646485200

In [70]:
df

Empty DataFrame
Columns: []
Index: []