In [101]:
import json

In [102]:
#import json

with open('berlin.json') as f:
   data = json.load(f)

In [103]:
data

{'aqi': 59,
 'idx': 10039,
 'attributions': [{'url': 'http://www.stadtentwicklung.berlin.de/umwelt/luftqualitaet/',
   'name': 'Berlin Air Quality - (Luftqualität in Berlin)',
   'logo': 'Germany-Berlin.png'},
  {'url': 'http://www.eea.europa.eu/themes/air/',
   'name': 'European Environment Agency',
   'logo': 'Europe-EEA.png'},
  {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}],
 'city': {'geo': [52.513606, 13.418833],
  'name': 'Mitte, Brückenstraße, Berlin, Germany',
  'url': 'https://aqicn.org/city/germany/berlin/mitte--bruckenstrasse'},
 'dominentpol': 'pm25',
 'iaqi': {'h': {'v': 69},
  'no2': {'v': 3.7},
  'p': {'v': 1024.2},
  'pm10': {'v': 17},
  'pm25': {'v': 59},
  't': {'v': 6.1},
  'w': {'v': 7},
  'wg': {'v': 10}},
 'time': {'s': '2022-03-05 13:00:00',
  'tz': '+01:00',
  'v': 1646485200,
  'iso': '2022-03-05T13:00:00+01:00'},
 'forecast': {'daily': {'o3': [{'avg': 14,
     'day': '2022-03-03',
     'max': 31,
     'min': 1},
    {'avg': 16, 'day': '2022-03-04', 'max': 28, 'min': 8},
    {'avg': 14, 'day': '2022-03-05', 'max': 29, 'min': 7},
    {'avg': 18, 'day': '2022-03-06', 'max': 34, 'min': 4},
    {'avg': 19, 'day': '2022-03-07', 'max': 34, 'min': 10},
    {'avg': 20, 'day': '2022-03-08', 'max': 35, 'min': 7},
    {'avg': 23, 'day': '2022-03-09', 'max': 23, 'min': 22}],
   'pm10': [{'avg': 23, 'day': '2022-03-03', 'max': 44, 'min': 10},
    {'avg': 13, 'day': '2022-03-04', 'max': 18, 'min': 9},
    {'avg': 17, 'day': '2022-03-05', 'max': 20, 'min': 9},
    {'avg': 15, 'day': '2022-03-06', 'max': 20, 'min': 8},
    {'avg': 14, 'day': '2022-03-07', 'max': 20, 'min': 6},
    {'avg': 15, 'day': '2022-03-08', 'max': 19, 'min': 7},
    {'avg': 12, 'day': '2022-03-09', 'max': 12, 'min': 12}],
   'pm25': [{'avg': 64, 'day': '2022-03-03', 'max': 107, 'min': 33},
    {'avg': 37, 'day': '2022-03-04', 'max': 53, 'min': 25},
    {'avg': 52, 'day': '2022-03-05', 'max': 60, 'min': 30},
    {'avg': 49, 'day': '2022-03-06', 'max': 62, 'min': 28},
    {'avg': 45, 'day': '2022-03-07', 'max': 61, 'min': 17},
    {'avg': 46, 'day': '2022-03-08', 'max': 57, 'min': 23},
    {'avg': 37, 'day': '2022-03-09', 'max': 37, 'min': 36}],
   'uvi': [{'avg': 0, 'day': '2022-03-03', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-03-04', 'max': 1, 'min': 0},
    {'avg': 0, 'day': '2022-03-05', 'max': 1, 'min': 0},
    {'avg': 0, 'day': '2022-03-06', 'max': 1, 'min': 0},
    {'avg': 1, 'day': '2022-03-07', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-03-08', 'max': 2, 'min': 0},
    {'avg': 1, 'day': '2022-03-09', 'max': 2, 'min': 0},
    {'avg': 0, 'day': '2022-03-10', 'max': 0, 'min': 0}]}},
 'debug': {'sync': '2022-03-05T22:16:24+09:00'}}

In [104]:
print(data['aqi'])
print(data['idx'])
print(data['city']['name'])
print(data['city']['geo'])
print(data['iaqi']['h']['v'])
print(data['iaqi']['no2']['v'])
print(data['iaqi']['p']['v'])
print(data['iaqi']['pm25']['v'])
#print(data['iaqi'])
print(data['iaqi']['t']['v'])
print(data['iaqi']['w']['v'])
print(data['iaqi']['wg']['v'])
print(data['time']['s'])
print(data['time']['tz'])
print(data['time']['v'])
print(data['time']['iso'])

59
10039
Mitte, Brückenstraße, Berlin, Germany
[52.513606, 13.418833]
69
3.7
1024.2
59
6.1
7
10
2022-03-05 13:00:00
+01:00
1646485200
2022-03-05T13:00:00+01:00

In [92]:
#new

In [105]:
data['idx']

10039

In [106]:
for i in data:
    print(i)
    print(data[i])

aqi
59
idx
10039
attributions
[{'url': 'http://www.stadtentwicklung.berlin.de/umwelt/luftqualitaet/', 'name': 'Berlin Air Quality - (Luftqualität in Berlin)', 'logo': 'Germany-Berlin.png'}, {'url': 'http://www.eea.europa.eu/themes/air/', 'name': 'European Environment Agency', 'logo': 'Europe-EEA.png'}, {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}]
city
{'geo': [52.513606, 13.418833], 'name': 'Mitte, Brückenstraße, Berlin, Germany', 'url': 'https://aqicn.org/city/germany/berlin/mitte--bruckenstrasse'}
dominentpol
pm25
iaqi
{'h': {'v': 69}, 'no2': {'v': 3.7}, 'p': {'v': 1024.2}, 'pm10': {'v': 17}, 'pm25': {'v': 59}, 't': {'v': 6.1}, 'w': {'v': 7}, 'wg': {'v': 10}}
time
{'s': '2022-03-05 13:00:00', 'tz': '+01:00', 'v': 1646485200, 'iso': '2022-03-05T13:00:00+01:00'}
forecast
{'daily': {'o3': [{'avg': 14, 'day': '2022-03-03', 'max': 31, 'min': 1}, {'avg': 16, 'day': '2022-03-04', 'max': 28, 'min': 8}, {'avg': 14, 'day': '2022-03-05', 'max': 29, 'min': 7}, {'avg': 18, 'day': '2022-03-06', 'max': 34, 'min': 4}, {'avg': 19, 'day': '2022-03-07', 'max': 34, 'min': 10}, {'avg': 20, 'day': '2022-03-08', 'max': 35, 'min': 7}, {'avg': 23, 'day': '2022-03-09', 'max': 23, 'min': 22}], 'pm10': [{'avg': 23, 'day': '2022-03-03', 'max': 44, 'min': 10}, {'avg': 13, 'day': '2022-03-04', 'max': 18, 'min': 9}, {'avg': 17, 'day': '2022-03-05', 'max': 20, 'min': 9}, {'avg': 15, 'day': '2022-03-06', 'max': 20, 'min': 8}, {'avg': 14, 'day': '2022-03-07', 'max': 20, 'min': 6}, {'avg': 15, 'day': '2022-03-08', 'max': 19, 'min': 7}, {'avg': 12, 'day': '2022-03-09', 'max': 12, 'min': 12}], 'pm25': [{'avg': 64, 'day': '2022-03-03', 'max': 107, 'min': 33}, {'avg': 37, 'day': '2022-03-04', 'max': 53, 'min': 25}, {'avg': 52, 'day': '2022-03-05', 'max': 60, 'min': 30}, {'avg': 49, 'day': '2022-03-06', 'max': 62, 'min': 28}, {'avg': 45, 'day': '2022-03-07', 'max': 61, 'min': 17}, {'avg': 46, 'day': '2022-03-08', 'max': 57, 'min': 23}, {'avg': 37, 'day': '2022-03-09', 'max': 37, 'min': 36}], 'uvi': [{'avg': 0, 'day': '2022-03-03', 'max': 2, 'min': 0}, {'avg': 0, 'day': '2022-03-04', 'max': 1, 'min': 0}, {'avg': 0, 'day': '2022-03-05', 'max': 1, 'min': 0}, {'avg': 0, 'day': '2022-03-06', 'max': 1, 'min': 0}, {'avg': 1, 'day': '2022-03-07', 'max': 2, 'min': 0}, {'avg': 0, 'day': '2022-03-08', 'max': 2, 'min': 0}, {'avg': 1, 'day': '2022-03-09', 'max': 2, 'min': 0}, {'avg': 0, 'day': '2022-03-10', 'max': 0, 'min': 0}]}}
debug
{'sync': '2022-03-05T22:16:24+09:00'}

In [95]:
dicts = {}
keys = range(4)
values = ["Hi", "I", "am", "John"]
for i in keys:
        dicts[i] = values[i]
print(dicts)

{0: 'Hi', 1: 'I', 2: 'am', 3: 'John'}

In [96]:
print(dicts.keys())
print(dicts.values())

dict_keys([0, 1, 2, 3])
dict_values(['Hi', 'I', 'am', 'John'])

In [97]:
import pandas as pd
#data=pd.DataFrame(dicts.keys(), columns=['key'])
#data

   key
0    0
1    1
2    2
3    3

In [98]:
dicts={}

In [107]:

keys=['iso','city_name','aqi','idx','h','no2','p','pm25','t','w','wg','s','tz','v']
values=[data['time']['iso'],
data['city']['name'],
data['aqi'],
data['idx'],

#data['city']['geo'
data['iaqi']['h']['v'],
data['iaqi']['no2']['v'],
data['iaqi']['p']['v'],
data['iaqi']['pm25']['v'],
#print(data['iaqi'])
data['iaqi']['t']['v'],
data['iaqi']['w']['v'],
data['iaqi']['wg']['v'],
data['time']['s'],
data['time']['tz'],
data['time']['v']
]


dictionary = dict(zip(keys, values))
#print(dictionary)
data=pd.DataFrame(dictionary,index=keys)

In [ ]:
data
print(type(data))
print(data.size)
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
196
(14, 14)

In [115]:
data=data.head(1)
data
print(type(data))
print(type(data.index))
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.indexes.base.Index'>
Index(['iso', 'city_name', 'aqi', 'idx', 'h', 'no2', 'p', 'pm25', 't', 'w',
       'wg', 's', 'tz', 'v'],
      dtype='object')
                         iso                              city_name  aqi  \
0  2022-03-05T13:00:00+01:00  Mitte, Brückenstraße, Berlin, Germany   59

     idx   h  no2       p  pm25    t  w  wg                    s      tz  \
0  10039  69  3.7  1024.2    59  6.1  7  10  2022-03-05 13:00:00  +01:00

            v
0  1646485200

,iso,city_name,aqi,idx,h,no2,p,pm25,t,w,wg,s,tz,v
iso,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,10,2022-03-05 13:00:00,+01:00,1646485200

In [116]:
data=data.reset_index(drop=True)
data

,iso,city_name,aqi,idx,h,no2,p,pm25,t,w,wg,s,tz,v
0,2022-03-05T13:00:00+01:00,"Mitte, Brückenstraße, Berlin, Germany",59,10039,69,3.7,1024.2,59,6.1,7,10,2022-03-05 13:00:00,+01:00,1646485200

In [ ]:
#data.reset_index(drop=True,inplace=True)

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [ ]:
type(data)

NoneType

In [ ]:
data.iloc[0]

iso                      2022-03-05T13:00:00+01:00
city_name    Mitte, Brückenstraße, Berlin, Germany
aqi                                             59
idx                                          10039
h                                               69
no2                                            3.7
p                                           1024.2
pm25                                            59
t                                              6.1
w                                                7
wg                                              10
s                              2022-03-05 13:00:00
tz                                          +01:00
v                                       1646485200
Name: iso, dtype: object

In [ ]:
dictionary

{'iso': '2022-03-05T13:00:00+01:00',
 'city_name': 'Mitte, Brückenstraße, Berlin, Germany',
 'aqi': 59,
 'idx': 10039,
 'cty_geo': [52.513606, 13.418833],
 'h': 69,
 'no2': 3.7,
 'p': 1024.2,
 'pm25': 59,
 't': 6.1,
 'w': 7,
 'wg': 10,
 's': '2022-03-05 13:00:00',
 'tz': '+01:00',
 'v': 1646485200}

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary)
pd.DataFrame(dictionary,index=keys)

{'a': 1, 'b': 2, 'c': 3}

   a  b  c
a  1  2  3
b  1  2  3
c  1  2  3

[59,
 10039,
 'Mitte, Brückenstraße, Berlin, Germany',
 [52.513606, 13.418833],
 69,
 3.7,
 1024.2,
 59,
 6.1,
 7,
 10,
 '2022-03-05 13:00:00',
 '+01:00',
 1646485200,
 '2022-03-05T13:00:00+01:00']